<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soli.system.core.mapper.SysModulePermissionMapper">

    <select id="selectAdminOrgPostIdList" resultType="long">
        select distinct uop.org_post_id
        from sys_user_org_post uop
                 inner join sys_user u on u.id = uop.user_id
        where u.username = 'admin'
          and u.status = '0'
          and uop.status = '0'
        order by uop.org_post_id asc
    </select>

    <select id="selectUserVisibleNavModuleIdList" resultType="long">
        select m.id
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_visible = '1'
                 inner join sys_module m
                            on m.id = ma.module_id
                               and m.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
        group by m.id, m.sort
        order by m.sort asc, m.id asc
    </select>

    <select id="selectUserNavPermissionList" resultMap="SysUserModuleNavPermissionResultMap">
        select ma.module_id as moduleId,
               case when max(case when ma.nav_visible = '1' then 1 else 0 end) > 0 then '1' else '0' end as navVisible
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_visible = '1'
                 inner join sys_module m
                            on m.id = ma.module_id
                               and m.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
        group by ma.module_id
        order by ma.module_id asc
    </select>

    <select id="countUserVisibleModule" resultType="int">
        select count(distinct m.id)
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_visible = '1'
                 inner join sys_module m
                            on m.id = ma.module_id
                               and m.module_code = #{moduleCode}
                               and m.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
    </select>

    <select id="selectUserButtonPermissionLevel" resultType="int">
        select max(ba.permission_level)
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_visible = '1'
                 inner join sys_org_post_button_auth ba
                            on ba.org_post_id = uop.org_post_id
                               and ba.module_id = ma.module_id
                 inner join sys_module m
                            on m.id = ba.module_id
                               and m.module_code = #{moduleCode}
                               and m.status = '0'
                 inner join sys_module_button b
                            on b.id = ba.button_id
                               and b.module_id = m.id
                               and b.button_code = #{buttonCode}
                               and b.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
    </select>

    <select id="selectUserFieldPermissionList" resultMap="SysUserModuleFieldPermissionResultMap">
        select fa.field_id as fieldId,
               max(fa.permission_level) as permissionLevel
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_id = #{moduleId}
                               and ma.module_visible = '1'
                 inner join sys_org_post_field_auth fa
                            on fa.org_post_id = uop.org_post_id
                               and fa.module_id = #{moduleId}
                 inner join sys_module_field_title f
                            on f.field_id = fa.field_id
                               and f.locale = 'zh_CN'
                               and f.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
        group by fa.field_id
        order by fa.field_id asc
    </select>

    <select id="selectUserButtonPermissionList" resultMap="SysUserModuleButtonPermissionResultMap">
        select ba.button_id as buttonId,
               max(ba.permission_level) as permissionLevel
        from sys_user_org_post uop
                 inner join sys_org_post op
                            on op.id = uop.org_post_id
                               and op.status = '0'
                               and op.org_unit_id = #{companyId}
                 inner join sys_org_post_module_auth ma
                            on ma.org_post_id = uop.org_post_id
                               and ma.module_id = #{moduleId}
                               and ma.module_visible = '1'
                 inner join sys_org_post_button_auth ba
                            on ba.org_post_id = uop.org_post_id
                               and ba.module_id = #{moduleId}
                 inner join sys_module_button b
                            on b.id = ba.button_id
                               and b.status = '0'
        where uop.user_id = #{userId}
          and uop.status = '0'
        group by ba.button_id
        order by ba.button_id asc
    </select>

    <resultMap id="SysOrgPostModuleAuthResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysOrgPostModuleAuthEntity">
        <id property="id" column="id"/>
        <result property="orgPostId" column="org_post_id"/>
        <result property="moduleId" column="module_id"/>
        <result property="moduleVisible" column="module_visible" javaType="com.soli.common.api.enums.BinaryFlagEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="navVisible" column="nav_visible" javaType="com.soli.common.api.enums.BinaryFlagEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="SysUserModuleNavPermissionResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysUserModuleNavPermissionModel">
        <result property="moduleId" column="moduleId"/>
        <result property="navVisible" column="navVisible" javaType="com.soli.common.api.enums.BinaryFlagEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
    </resultMap>

    <resultMap id="SysUserModuleFieldPermissionResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysUserModuleFieldPermissionModel">
        <result property="fieldId" column="fieldId"/>
        <result property="permissionLevel" column="permissionLevel" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
    </resultMap>

    <resultMap id="SysUserModuleButtonPermissionResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysUserModuleButtonPermissionModel">
        <result property="buttonId" column="buttonId"/>
        <result property="permissionLevel" column="permissionLevel" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
    </resultMap>

    <resultMap id="SysOrgPostFieldAuthResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysOrgPostFieldAuthEntity">
        <id property="id" column="id"/>
        <result property="orgPostId" column="org_post_id"/>
        <result property="moduleId" column="module_id"/>
        <result property="fieldId" column="field_id"/>
        <result property="permissionLevel" column="permission_level" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="SysOrgPostButtonAuthResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysOrgPostButtonAuthEntity">
        <id property="id" column="id"/>
        <result property="orgPostId" column="org_post_id"/>
        <result property="moduleId" column="module_id"/>
        <result property="buttonId" column="button_id"/>
        <result property="permissionLevel" column="permission_level" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="SysModuleStateFieldAuthResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysModuleStateFieldAuthEntity">
        <id property="id" column="id"/>
        <result property="moduleId" column="module_id"/>
        <result property="stateCode" column="state_code"/>
        <result property="fieldId" column="field_id"/>
        <result property="permissionLevel" column="permission_level" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="SysModuleStateButtonAuthResultMap" type="com.soli.system.core.service.impl.sysmodulepermission.SysModuleStateButtonAuthEntity">
        <id property="id" column="id"/>
        <result property="moduleId" column="module_id"/>
        <result property="stateCode" column="state_code"/>
        <result property="buttonId" column="button_id"/>
        <result property="permissionLevel" column="permission_level" javaType="com.soli.system.service.enums.PermissionLevelEnum" typeHandler="com.soli.common.core.mybatis.handler.DbEnumTypeHandler"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="selectOrgPostModuleAuth" resultMap="SysOrgPostModuleAuthResultMap">
        select id, org_post_id, module_id, module_visible, nav_visible, create_by, create_time, update_by, update_time, note
        from sys_org_post_module_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
        limit 1
    </select>

    <select id="countVisibleModuleByOrgPostId" resultType="int">
        select count(1)
        from sys_org_post_module_auth
        where org_post_id = #{orgPostId}
          and module_visible = '1'
    </select>

    <select id="selectOrgPostFieldAuthList" resultMap="SysOrgPostFieldAuthResultMap">
        select id, org_post_id, module_id, field_id, permission_level, create_by, create_time, update_by, update_time, note
        from sys_org_post_field_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
        order by id asc
    </select>

    <select id="selectOrgPostButtonAuthList" resultMap="SysOrgPostButtonAuthResultMap">
        select id, org_post_id, module_id, button_id, permission_level, create_by, create_time, update_by, update_time, note
        from sys_org_post_button_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
        order by id asc
    </select>

    <select id="selectOrgPostButtonAuth" resultMap="SysOrgPostButtonAuthResultMap">
        select id, org_post_id, module_id, button_id, permission_level, create_by, create_time, update_by, update_time, note
        from sys_org_post_button_auth
        where org_post_id = #{orgPostId}
          and button_id = #{buttonId}
        limit 1
    </select>

    <delete id="deleteOrgPostModuleAuth">
        delete from sys_org_post_module_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
    </delete>

    <delete id="deleteOrgPostModuleAuthByModuleId">
        delete from sys_org_post_module_auth
        where module_id = #{moduleId}
    </delete>

    <delete id="deleteOrgPostFieldAuthList">
        delete from sys_org_post_field_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
    </delete>

    <delete id="deleteOrgPostFieldAuthByFieldId">
        delete from sys_org_post_field_auth
        where field_id = #{fieldId}
    </delete>

    <delete id="deleteOrgPostButtonAuthList">
        delete from sys_org_post_button_auth
        where org_post_id = #{orgPostId}
          and module_id = #{moduleId}
    </delete>

    <delete id="deleteOrgPostButtonAuthByButtonId">
        delete from sys_org_post_button_auth
        where button_id = #{buttonId}
    </delete>

    <insert id="insertOrgPostModuleAuth" parameterType="com.soli.system.core.service.impl.sysmodulepermission.SysOrgPostModuleAuthEntity">
        insert into sys_org_post_module_auth (
            id, org_post_id, module_id, module_visible, nav_visible, create_by, create_time, update_by, update_time, note
        ) values (
            #{id}, #{orgPostId}, #{moduleId}, #{moduleVisible, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{navVisible, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{note}
        )
    </insert>

    <insert id="insertOrgPostFieldAuthBatch">
        insert into sys_org_post_field_auth (
            id, org_post_id, module_id, field_id, permission_level, create_by, create_time, update_by, update_time, note
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.orgPostId}, #{item.moduleId}, #{item.fieldId}, #{item.permissionLevel, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.note})
        </foreach>
    </insert>

    <insert id="insertOrgPostButtonAuthBatch">
        insert into sys_org_post_button_auth (
            id, org_post_id, module_id, button_id, permission_level, create_by, create_time, update_by, update_time, note
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.orgPostId}, #{item.moduleId}, #{item.buttonId}, #{item.permissionLevel, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.note})
        </foreach>
    </insert>

    <select id="selectStateFieldAuthList" resultMap="SysModuleStateFieldAuthResultMap">
        select id, module_id, state_code, field_id, permission_level, create_by, create_time, update_by, update_time, note
        from sys_module_state_field_auth
        where module_id = #{moduleId}
        order by id asc
    </select>

    <select id="selectStateButtonAuthList" resultMap="SysModuleStateButtonAuthResultMap">
        select id, module_id, state_code, button_id, permission_level, create_by, create_time, update_by, update_time, note
        from sys_module_state_button_auth
        where module_id = #{moduleId}
        order by id asc
    </select>

    <delete id="deleteStateFieldAuthList">
        delete from sys_module_state_field_auth
        where module_id = #{moduleId}
    </delete>

    <delete id="deleteStateFieldAuthByFieldId">
        delete from sys_module_state_field_auth
        where field_id = #{fieldId}
    </delete>

    <delete id="deleteStateButtonAuthList">
        delete from sys_module_state_button_auth
        where module_id = #{moduleId}
    </delete>

    <delete id="deleteStateButtonAuthByButtonId">
        delete from sys_module_state_button_auth
        where button_id = #{buttonId}
    </delete>

    <insert id="insertStateFieldAuthBatch">
        insert into sys_module_state_field_auth (
            id, module_id, state_code, field_id, permission_level, create_by, create_time, update_by, update_time, note
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.moduleId}, #{item.stateCode}, #{item.fieldId}, #{item.permissionLevel, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.note})
        </foreach>
    </insert>

    <insert id="insertStateButtonAuthBatch">
        insert into sys_module_state_button_auth (
            id, module_id, state_code, button_id, permission_level, create_by, create_time, update_by, update_time, note
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.moduleId}, #{item.stateCode}, #{item.buttonId}, #{item.permissionLevel, typeHandler=com.soli.common.core.mybatis.handler.DbEnumTypeHandler}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.note})
        </foreach>
    </insert>

</mapper>
