<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soli.system.core.mapper.SysUserMapper">

    <resultMap id="SysUserResultMap" type="com.soli.system.core.service.impl.sysuser.SysUserEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="avatar" column="avatar"/>
        <result property="type" column="type"/>
        <result property="sex" column="sex"/>
        <result property="status" column="status"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginTime" column="login_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, nickname, email, phone, avatar, type, sex, status, login_ip, login_time, create_by, create_time, update_by, update_time, note
    </sql>

    <insert id="insert" parameterType="com.soli.system.core.service.impl.sysuser.SysUserEntity">
        insert into sys_user (
            id, username, password, nickname, email, phone, avatar, type, sex, status, login_ip, login_time, create_by, create_time, update_by, update_time, note
        ) values (
            #{id}, #{username}, #{password}, #{nickname}, #{email}, #{phone}, #{avatar}, #{type}, #{sex}, #{status}, #{loginIp}, #{loginTime}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{note}
        )
    </insert>

    <update id="update" parameterType="com.soli.system.core.service.impl.sysuser.SysUserEntity">
        update sys_user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="status != null">status = #{status},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="note != null">note = #{note},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>

    <select id="select" resultMap="SysUserResultMap">
        select <include refid="Base_Column_List"/>
        from sys_user
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by create_time desc, id desc
    </select>

    <select id="selectById" resultMap="SysUserResultMap">
        select <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id}
    </select>

    <select id="selectByUsername" resultMap="SysUserResultMap">
        select <include refid="Base_Column_List"/>
        from sys_user
        where username = #{username}
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        select role_id
        from sys_user_role
        where user_id = #{userId}
    </select>

    <delete id="deleteUserRoleByUserId">
        delete from sys_user_role
        where user_id = #{userId}
    </delete>

    <insert id="insertUserRoleRelations">
        insert into sys_user_role (user_id, role_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

</mapper>